# RTX 30xx (Ampere)      : 8.6
# RTX 40xx (Ada Lovelace): 8.9
# RTX 50xx (Blackwell)   : 12.0
TORCH_CUDA_ARCH_LIST=8.6
MAX_JOBS=16
UV_CONCURRENT_DOWNLOADS=16
UV_CONCURRENT_INSTALLS=16
# Cloudflare
TUNNEL_TOKEN=
